@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
    @apply w-[90%] max-w-6xl mx-auto
}

.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  